body {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}
h1, h2{
    text-align: center;
    opacity: 0.8;
    font-family: "Montserrat";
}
svg{
    background: black;
    font-family: "Orbitron";
    transform: scale(2);
    margin: 100px 0px;   
}
#heading{
    text-align: center;
    border: solid 2px tomato;
    opacity: 0.8;
}
.btn{
    font-family: "Montserrat";
    font-size: 20px;
    background: white;
    padding: 5px;
    border: solid 2px tomato;
    outline: none;
    margin: 20px 0px;
}
a{
    position: fixed;
    bottom: 20px;
    right: 10px;
    font-family: "Orbitron";
}